#Netbeans temp dirs
**/nbproject/private/
**/build/
**/nbbuild/
**/nbdist/
**/dist/
**/nbactions.xml
**/nb-configuration.xml
**/.nb-gradle/

#Exclude Clion/CMake tmp dirs
**/.idea
**/cmake-build-debug

#Doxygen generated output & temp files
**/html/
**/doxygen_sqlite3.db

#sample applications temp files
**/*.csv
